body {
    margin:0;
    background-image: url('/CourseraTravelRecommendation/static/pexels-evgeny-tchebotarev-1058775-2187456.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

#navbar {
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.808),#212224c2,rgba(0, 0, 0, 0.808));
    max-height: 60px;
}

#navLogo {
    line-height: normal;
    display: block;
    width: 20px;
    margin-right: 10px;
    margin-left: 15px;
}
#navLogo2 {
    display: inline-flex;
    font-size: larger;
}

#navLink {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    font-weight: 200;
    font-size: medium;
}

#navSearch {
    list-style-type: none;
    display: inline-block;
    position:relative;
}

#search {
    display: inline-block;
    position: relative;
}

#search input[type="text"] {
    border-radius: 25px;
    flex: 1;
    padding: 9px;
    padding-right: 60px;
    width: 350px;
    color: #00ADB5;
}

.searchBtn {
    position: absolute;
    top: 4px;
    right: 6px;
    height: 80%;
    border-radius: 10px;
    width: 80px;
    background-color: #0a6d72ce;
    color: #EEEEEE;
    border: none;
    cursor: pointer;
}

#search button + button {
    right: 90px;
}

.pageLink {
    text-decoration: none;
    color: #EEEEEE;

}

#hero {
    text-align: left;
    justify-content: left;
    margin-left: 35px;
}

#heroTitle {
    margin: 40px;
    color: #EEEEEE;
    font-size: 100px;
    line-height: 130px;
    font-weight: bold;
    justify-content: left;
    text-align: left;
}
#aboutUs {
    margin-left: 35px;
    margin: 40px;
    color: #EEEEEE;
    font-size: 100px;
    line-height: 130px;
    font-weight: bold;
    justify-content: left;
    text-align: left;
}

#heroP {
    margin: 40px;
    color: #EEEEEE;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    justify-content: left;
    text-align: left;
}

#heroSocialLinks {
    margin:40px;
    margin-left: 40px;
}

#socialLinks li img {
    max-width: 30px;
}
#socialLinks li {
    display: inline;
    margin-right: 10px;
}

#socialLinks {
    list-style: none;
}

#bookBtn {
    padding:10px 70px;
    margin-left: 80px;
    margin-top: 50px;
    color: #b6f2f5c5;
    background-color: #393e46b9;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

#bookBtn:hover {
    color: #fffffffd;
    background-color: #506c7cfd;
}

#aboutUsDiv {
    margin-left: 35px;
}
#aboutUsText {
    color:white;
    margin-right: 60vw;
    margin-left: 35px;
    font-weight: 300;
    background-color: #393e4686;
    padding: 15px;
}

#team {
    list-style: none;
}

.position {
    background-color:#00ADB5 ;
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    margin-left: 40px ;
    border: solid 1px #393e4686;
}